<?xml version="1.0" encoding="utf-8" ?>
<settings lang="default">
  <token>MjQ1MDI2Mzg3NTcwODUxODUw.DAVE1g.VhtTEhMIg_-KgDkm9VplUBkANPU</token>
  <prefix>-</prefix>
  <autoplay>List</autoplay>
  <deletefiles>True</deletefiles>
  <!-- 218956164380098562 -->
  <autoconnectvoice>234490001037983746</autoconnectvoice>
  <autoconnecttext>247458181691867146</autoconnecttext>
</settings>